*{
    margin: 0;
}

.my_title{
    text-align: center;
}
.container{
    background-color: red;
    margin: 1rem;
    text-align: center;
}

.my_jumbotron{
    background-color: blue;
    color: white;
    margin: 1rem;
    text-align: center;
}

.my_content{
    background-color: green;
    color: white;
    margin: 1rem;
    text-align: center;
}

.my_footer{
    background-color: yellow;
    color: black;
    margin: 1rem;
    position: relative;
    text-align: center;
}