/* *{
    margin: 0;
} */

#my_footer{
    bottom: 0;
    position: relative;
}

.d-block{
    height: 60vh;
    width: 60vh;
}

/* .col{
    -webkit-transition: box-shadow linear 1s;
    transition: box-shadow linear 1s;
}

.col:focus{
    box-shadow: 0 0 20px #51ff0d;
} */