*{
    margin: 0;
}   

.my_font01{
    font-family: 'Oleo Script Swash Caps', cursive;}

.my_font02{
    font-family: 'Irish Grover', cursive;
}

#my_footer{
    bottom: 0;
    position: fixed;
}

.d-block{
    height: 60vh;
    width: 60vh;
}

#my_button:hover{
    border: 2px darkred;
    box-shadow: 5px 5px darkred;
}

#my_input:hover{
    box-shadow: 5px 5px darkred;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-button:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.the_captain{
    height: 9rem;
    width: 10rem;
}

.logo{
    height: 100px;
    width: 100px;
    filter: invert(100%);
}